version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
          - "@typescript-eslint/*"
      fig:
        patterns:
          - "@fig/*"
          - "@withfig/*"
