.DS_Store
building_scripts/
node_modules
dist
build
npm-debug.log
.env

.idea
.vscode
specs

# we don't have any dependencies which are bundled with
# the specs so we can safely ignore the package-lock/yarn.lock
# to make everyones life easier
package-lock.json
yarn.lock
