.DS_Store
building_scripts/
node_modules
dist
build
npm-debug.log
.env

.idea
.vscode
specs

# we use yarn.lock for dependency management
package-lock.json
pnpm-lock.yaml

# https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
